/* --------------------------------
Common Style Part Starts From Here
--------------------------------- */
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f7efc5;
}

/*-------------------------- 
Navbar Starts From Here
----------------------------*/


/*-------------------------- 
Header Starts From Here
----------------------------*/
.main-heading{
    background-color: #2D25A0;
    padding-top: 135px;
    margin-bottom: 70px;
}
.main-heading:hover .container img{
    transform: scale(1.1);
    transition: transform 3s ease-in-out 0.2s;
}
.container{
    height: 552px;
    width: 1143px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.heading-title{
    font-size: 68px;
    font-weight: 700;
    color: white;
}
.button{
    height: 44px;
    width: 168px;
    background-color: #E02C6D;
    color: white;
    padding: 10px 24px 10px 24px;
    text-align: center;
}
.button > a {
    text-decoration: none;
    font-size: 16px;
    color:white;
    margin-right: 5px;
}
.button:hover{
    border: 2px solid white;
}
.button > span {
    color:white;
}
.heading-image{
    width: 556px;
    height: 456px;
}

/*----------------------------- 
Card Section Starts From Here
------------------------------*/
.cards{
    width: 1050px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}
.single-card{
    width: 300px;
    height: 435px;
    padding:15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(255, 0, 0, 0.719);
    display: flex;
    flex-direction: column;
}
/* .single-card:hover .single-card{
    border: 1px solid red; */
}
.player-iamge{
    width: 300px;
    height: 256px;
}
.player-name{
    font-weight: 700px;
    font-size: 28px;
    margin-top: 16px;
    text-align: justify;
}
.palyer-info{
    height: 160px;
    width: 300px;
}
.player-review{
    font-weight: 400px;
    color: #6C6C6C;
}

/*------------------------------------ 
Testimonial Section Starts From Here
-------------------------------------*/
.testimonial{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    width: 1050px;
    margin: 0 auto;
}
.meet{
    margin-top: 30px;
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 24px;
    text-align: center;
}
.container-3{
    width: 510px;
    height: 300px;
    display: flex;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(255, 0, 0, 0.719);
    margin-bottom: 30px;
}
.container-3 > img{
    width: 255px;
    height: 300px;
}
.testi-name{
    font-size: 22px;
    font-weight: 700;
}
.testi-info{
    margin-left:15px;
    margin-top: 15px;
    padding-right: 15px;
    overflow: hidden;
}
.testi-about{
    font-size:16px;
    color: #6C6C6C;
    text-align: justify;
}

/*------------------------------------ 
Point table Section Starts From Here
-------------------------------------*/
.gallery {
    width: 1050px;
    background-color: white;
    margin: 0 auto;
    justify-content: space-between;
    border-radius: 5px;
}
.section-hading-4 {
    font-size: 40px;
    font-weight: 700;
    margin: 20px;
    text-align: center;
}
.last-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.winner{
    width: 290px;
    hight:auto;
    padding: 8px;
    margin:20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(255, 0, 0, 0.719);
}
.winner h1{
    font-size: 28px;
    font-weight: bold;
}
.winner p{
    font-size: 16px;
}
.flag{
    width: inherit;
    padding-right: 15px;
}
.point-table{
    width: 640px;
    height: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color:rgba(218, 64, 64, 0.774);
    margin:20px;
    padding: 8px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(255, 208, 0, 0.849);
}
.point-table-value{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: violet;
}
.value{
font-size: 16px;
}

/*------------------------ 
Footer Starts From Here
-------------------------*/
.main-footer{
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-footer img{
    width: 483px;
    height: 110px;
}
.socila-media-icon {
    color: #2e4694;
    font-size: 45px;
    font-weight: bold;
}
.main-footer p{
    font-size: 24px;
}

/*---------------------------------- 
Mobile Responsive Starts From Here
-----------------------------------*/

@media only screen and (max-width: 688px) {
    .container {
        width: 100%;
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
    }
    .heading-image{
        margin-top: 50px;
    }
    .cards{
        width: 100%;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .testimonial{
        width: 100%;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .last-grid{
        width: 100%;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .winner{
        width: 290px;
        height: auto;
        padding: 8px;
        margin:20px;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgba(255, 0, 0, 0.719);
    }
    .gallery {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;

    }
    .point-table{
        width: 550px;
        margin-left: 100px;
        margin: 0 auto;

    }
  }


  /*---------------------------------- 
    Tablet Responsive Starts From Here
    -----------------------------------*/

    @media screen and (min-width: 689px) and (max-width: 992px) {
        .container {
            width: 100%;
            height: auto;
            justify-content: center;
            transform:scale(0.75);
        }
        .cards{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
        }
        .testimonial{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
        }
        .last-grid{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
        }
        .last-grid {
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
        }
        .point-table{
            width: 475px;
            margin-left: 100px;
            margin: 0 auto;
    
        }


  }